src/__pycache__/
.DS_Store
.idea/
src/audiostream_handler/__pycache__/
src/device_handler/__pycache__/
src/chord_detection/__pycache__/
src/user_interface/__pycache__/
src/data/__pycache__/
data/records/
data/images/
resources/
__pycache__/
/venv/
