sources/__pycache__/
venv/*
gcdenv/*
virtualenv3-11/*
.DS_Store
.idea/
sources/audiostream_handler/__pycache__/
sources/device_handler/__pycache__/
sources/chord_detection/__pycache__/
sources/user_interface/__pycache__/
data/images/
data/records/
resources/
