src/__pycache__/
venv/*
.DS_Store
.idea/
src/audiostream_handler/__pycache__/
src/device_handler/__pycache__/
src/chord_detection/__pycache__/
src/user_interface/__pycache__/
data/records/
data/images/
__pycache__/
output/
